# Ambienti Virtuali (NON caricare mai questi)
venv/
env/
.env

# File di dati privati
config.json
history_db.json
chat_history.db

# Cache di Python e file temporanei
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# File di sistema
.DS_Store
Thumbs.db

# Eventuali cartelle di build se userai PyInstaller in futuro
dist/
build/
*.spec
*.rar
installer_output/
start_ai_assistant.bat
start_sirius_ai_tray_assistant.bat

!setup/AI_Assistant_onedir.spec
setup/app_meta.iss
setup/version_info.py
