# Ambienti Virtuali (NON caricare mai questi)
venv/
env/
.env

# File di dati privati
history_db.json
chat_history.db

# Cache di Python e file temporanei
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# File di sistema
.DS_Store
Thumbs.db

# Eventuali cartelle di build se userai PyInstaller in futuro
dist/
build/
*.spec
*.rar
installer_output/
start_ai_assistant.bat

!AI_Assistant_v3.3_onedir.spec
!AI_Assistant_v3.4_onedir.spec
